*{
    margin: auto 0;
    padding: auto 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color:black ;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
.container span{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.vermelho{
    background-color: rgba(255, 1, 1, 0.486);
}
.amarelo{
    background-color: rgba(255, 255, 0, 0.411);
}
.verde{
    background-color: rgba(2, 255, 2, 0.432);
}
.container span + span {
    margin: 10px -0;
}
.vermelho-ativo{
background-color: red;

}
.amarelo-ativo{
background-color: yellow;
box-shadow: 0 0  15px 3px yellow;
}
.verde-ativo{
background-color: rgb(115, 255, 0);

}